.logo {
    max-width: 200px;
    margin: 0 auto;
    text-align: center;
    height: auto;
    border-radius: 10px;
    overflow: hidden;
}

.fill-input {
    min-width: 100px;
}

table {
    tbody {
        tr {
            td {
                vertical-align: middle;
            }
        }
    }
}
